.sidebar{
    flex: 3;
    height: fit-content;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarImg{
    border-radius: 50%;
    margin-top: 15px;
    height: 200px;
    width: 200px;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #222222;
    font-weight: 600;
}
.sidebaricon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;

}
.sidebarsocials{
    display: flex;

}

.sidebarList{
    list-style: none;
    margin-bottom: 30px;

}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}
